@model BlueSkyTravel.Models.Itinerary
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create a New Itinerary";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

 <div class="card bg-light mx-auto">
            <article class="card-body mx-auto" >
                <h4 class="card-title mt-3 text-center">Create An Itinerary</h4>
                <p class="text-center">Let the Fun Begin!</p>
           
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-suitcase-rolling"></i> </span>
                        </div>
                        <input asp-for="TripName" class="form-control" placeholder="Trip Name" type="text">
                          <span asp-validation-for="TripName" class="text-danger"></span>
                    </div>

                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>
                        <input asp-for="TravelDateStart" class="form-control" placeholder="Start Date" type="datetime-local">
                         <span asp-validation-for="TravelDateStart" class="text-danger"></span>
                    </div>

                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                        </div>
                        <input asp-for="TravelDateFinish" class="form-control" placeholder="Finish Date" type="datetime-local">
                        <br />
                  <span asp-validation-for="TravelDateFinish" class="text-danger"></span>
                    </div>



                    <!-- form-group end.// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-map-marked-alt"></i></span>
                        </div>
                        <input  asp-for="Destination" class="form-control" placeholder="Destination" type="text">
                        <br />
                         <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>

                    <!-- form-group end.// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-dollar-sign"></i> </span>
                        </div>
                        <input asp-for="Budget" class="form-control" placeholder="Trip Budget" type="text">
                        <br />
                    <span asp-validation-for="Budget" class="text-danger"></span>
                    </div>

                    <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" value="Create" class="btn btn-primary btn-block"> Create Itinerary  </button>
                    </div>

                    <!-- form-group// -->
                   <a asp-action="Index">Back to Itinerary List</a>
                </form>
            </article>
        </div> 
    
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
