@using Microsoft.AspNetCore.Identity
@using BlueSkyTravel.Areas.IdentityModel;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Itinerary" asp-action="Index">Itinerary</a>
    </li>
  
}


