@using BlueSkyTravel.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="card bg-light mx-auto">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Forgot Password</h4>
        <p class="text-center">Please Enter your Email to Update your Password</p>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-envelope"></i></span>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email" type="text">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </article>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
