@using BlueSkyTravel.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="card bg-light mx-auto">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Reset Password</h4>
        <p class="text-center">Please Enter and Confirm your new Password</p>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />

            <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-group-prepend">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </article>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
