
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-4">
    <main role="main" class="pb-3">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="pb-4">About Blue Sky Travel</h1>
                <p class="lead text-muted">
                    Planning a vacation should be an exciting experience, but with all the distractions of modern life and the distance between family members, it can be tough to find time to coordinate together, and sometimes the burden of planning an itinerary all falls onto one person-- NOT fun! Blue Sky Travel wants to take that burden away and turn vacation planning into a pleasant experience for the whole party!
                </p>
                <p class="lead text-muted">
                    Vacation is fun, planning one should be too. Don’t just wing it, let Blue Sky Travel help!
                </p>
                <p class="pt-4">
                    <a asp-action="Register" asp-controller="Account" class="btn btn-primary my-2">Sign Up Today!</a>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-secondary my-2">Login Today!</a>
                </p>
            </div>
        </section>



        <div class="album py-5 bg-light">
            <div class="container">

                <h2 class="text-center pt-4 pb-4">Meet The Blue Sky Travel Tem</h2>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="headshot" src="~/img/headshots/rhianna.jpg" alt="Alternate Text" />
                            <div class="card-body">
                                <h3 class="text-center"> Rhianna Teetzel </h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="mailto:TShaw516@gmail.com?subject=BlueSkyTravel" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                                    </div>
                                    <small class="text-muted"><a href="https://www.linkedin.com/in/rhianna-teetzel/" class="btn btn-sm btn-outline-secondary"><i class="fab fa-linkedin"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="headshot" src="~/img/headshots/tom.jpg" alt="Alternate Text" />
                            <div class="card-body">
                                <h3 class="text-center"> Tom Shaw </h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="mailto:TShaw516@gmail.com?subject=BlueSkyTravel" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                                    </div>
                                    <small class="text-muted"><a href="https://www.linkedin.com/in/TShaw516/" class="btn btn-sm btn-outline-secondary"><i class="fab fa-linkedin"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="headshot" src="~/img/headshots/josh.jpg" alt="Alternate Text" />
                            <div class="card-body">
                                <h3 class="text-center"> Josh Yang </h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="mailto:TShaw516@gmail.com?subject=BlueSkyTravel" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                                    </div>
                                    <small class="text-muted"><a href="https://www.linkedin.com/in/joshua-yang1994/" class="btn btn-sm btn-outline-secondary"><i class="fab fa-linkedin"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="headshot" src="~/img/headshots/jason.jpg" alt="Jason" />
                            <div class="card-body">
                                <h3 class="text-center"> Jason Silvis </h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="mailto:TShaw516@gmail.com?subject=BlueSkyTravel" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                                    </div>
                                    <small class="text-muted"><a href="https://www.linkedin.com/in/jason-silvis-1594a61a2/" class="btn btn-sm btn-outline-secondary"><i class="fab fa-linkedin"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="headshot" src="~/img/headshots/rob.jpg" alt="rob" />
                            <div class="card-body">
                                <h3 class="text-center"> Rob Norton </h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="mailto:TShaw516@gmail.com?subject=BlueSkyTravel" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                                    </div>
                                    <small class="text-muted"><a href="https://www.linkedin.com/in/robert-n-5b990a140/" class="btn btn-sm btn-outline-secondary"><i class="fab fa-linkedin"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="headshot" src="~/img/headshots/chet.jpg" alt="Alternate Text" />
                            <div class="card-body">
                                <h3 class="text-center"> Chet Manly </h3>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="mailto:HugginsBarry@gmail.com?subject=BlueSkyTravel" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                                    </div>
                                    <small class="text-muted"><a href="https://www.linkedin.com/in/chet/" class="btn btn-sm btn-outline-secondary"><i class="fab fa-linkedin"></i></a></small>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        </main>
</div>