
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="jumbotron text-center">
    <div class="container">
        <h1>About Blue Sky Travel</h1>
        <p class="lead text-muted">
            Planning a vacation should be an exciting experience, but with all the distractions of modern life and the distance between family members, it can be tough to find time to coordinate together, and sometimes the burden of planning an itinerary all falls onto one person-- NOT fun! Blue Sky Travel wants to take that burden away and turn vacation planning into a pleasant experience for the whole party!
        </p>
        <p class="lead text-muted">
            Vacation is fun, planning one should be too. Don’t just wing it, let Blue Sky Travel help!
        </p>
        <p>
            <a asp-action="Register" asp-controller="Account" class="btn btn-primary my-2">Sign Up Today!</a>
            <a asp-action="Login" asp-controller="Account" class="btn btn-secondary my-2">Login Today!</a>
        </p>
    </div>
  </section>



<div class="album py-5 bg-light">
    <div class="container">

        <h2>About Blue Sky Travel</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="text-center"> Tom Shaw </h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="mail-to:TShaw516@gmail.com?" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                            </div>
                            <small class="text-muted">COO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="text-center"> Barry Huggins </h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="mail-to:HugginsBarry@gmail.com?" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                            </div>
                            <small class="text-muted">Coffee Maker</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="text-center"> Rhianna Teetzel </h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="mail-to:rhiannateetzel@gmail.com?" subject="Blue Sky Travel">Contact</a></button>
                            </div>
                            <small class="text-muted">CEO</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="text-center"> Josh Yang </h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="mail-to:TShaw516@gmail.com?" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                            </div>
                            <small class="text-muted">CIO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="text-center"> Jason Silva </h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="mail-to:TShaw516@gmail.com?" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                            </div>
                            <small class="text-muted">CFO</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="text-center"> Rob Nor </h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="mail-to:TShaw516@gmail.com?" class="btn btn-sm btn-outline-secondary" subject="Blue Sky Travel">Contact</a>
                            </div>
                            <small class="text-muted">CTO</small>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
  </div>


