
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="about" class="container mt-4">
        <main role="main" class="pb-3">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="pb-4">Contact Us</h1>
                    <p class="lead text-muted">
                        Your feedback is very important to us. If you have any questions, comments, or concerns, you can reach out to us by phone or email.
                    </p>
                    <p class="pt-4">
                        Email: <a href="mailto:BlueSkyTravel@gmail.com?subject=BlueSkyTravel">BlueSkyTravel@@gmail.com</a>
                    </p>
                    <p>Phone: (111) 222-3456</p>
                </div>
            </section>
        </main>
    </div>

