@{
    ViewData["Title"] = "Blue Sky Travel Home";
}

<div class="text-center">
    <h1 class="display-4">
        <img class="align-content-center" src="~/img/BlueSkyTravel2.svg" alt="Blue Sky Travel" />
    </h1>

    <h2>Don't Just Wing it!</h2>
</div>
