
@{
    ViewData["Title"] = "Philanthropy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="philanthropy" class="container mt-4">
        <main role="main" class="pb-3">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1>Blue Sky Travel Philanthropy</h1>
                    <p class="lead text-muted">
                        Welcome to Blue Sky Philanthropy Page! Here we can track our progress towards our goal in providing funding to charitable organizations
                    </p>
                    <h3 class="text-center">Support:</h3>
                    <a href="https://www.samaritanspurse.org/our-ministry/coronavirus-donate/?utm_source=Ggl&utm_medium=cpc&utm_campaign=m_YGCV-B20V&utm_content=ItalyResponse&gclid=Cj0KCQjwj7v0BRDOARIsAGh37ioNgCP0G07QpKrd-vXrQMuPAjc6nMPCMynTHSXtCO4zvhzWKELRGRwaApBFEALw_wcB" target="_blank" class="btn btn-primary my-2">COVID Effort!</a>
                    <a href="https://www.foldsofhonor.org/" target="_blank" class="btn btn-secondary my-2">Folds of Honor!</a>
                    </p>
                </div>
            </section>



            <div class="container mt-5">
                <h3 class="text-align">Support the fight against Covid</h3>
                <p>The United States has the highest number of active COVID-19 cases in the world, and we're working in New York City, at the epicenter of the outbreak in the U.S. where many local medical facilities are overwhelmed. Samaritan’s Purse now has dozens of disaster relief specialists, including doctors, nurses, and other medical personnel, on the ground in the city.</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="container mt-5">
                <h3 class="text-align">Support Folds Of Honor</h3>
                <p>
                    Folds of Honor provides educational scholarships to the children and spouses of our fallen and disabled service members while serving our Country.
                </p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>


        </main>
        </div>
