
@{
    ViewData["Title"] = "Philanthropy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row welcome text-center">
        <div class="display-4">
        <h1 class="display-4">Philanthropy</h1>
            <hr>
        </div>
        <div class="col-12">
            <p class="lead">Welcome to Blue Sky Philanthropy Page! Here we can track our progress towards our goal in providing funding to charitable organizations</p>
        </div>
    </div>
    <hr class="my-4">
</div>
<div class="container-fluid">
<div class="progress">
    <h3 class="text-align">Progress to our Goal! </h3>
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
</div>

