@model BlueSkyTravel.Models.Hotel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Create";
   Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

 <div class="card bg-light mx-auto">
            <article class="card-body mx-auto" >
                <h4 class="card-title mt-3 text-center">Add a Hotel Reservation!</h4>
                <p class="text-center">You'll never nome alone!</p>
           
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-hotel"></i></span>
                        </div>
                        <input asp-for="Name" class="form-control" placeholder="Hotel Name" type="text">
                         <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                        </div>
                        <input asp-for="Address" class="form-control" placeholder="Hotel Address" type="text">
                            <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                        </div>
                        <input asp-for="CheckIn" class="form-control" placeholder="Check In Date" type="datetime-local">
                        <br />
               <span asp-validation-for="CheckIn" class="text-danger"></span>
                    </div>


                         <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
                        </div>
                        <input  asp-for="CheckOut" class="form-control" placeholder="Check Out Date" type="datetime-local">
                        <br />
                  <span asp-validation-for="CheckOut" class="text-danger"></span>
                    </div>


                    <!-- form-group end.// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-dollar-sign"></i></span>
                        </div>
                        <input  asp-for="NightlyRate" class="form-control" placeholder="Nightly Rate" type="text">
                        <br />
                         <span asp-validation-for="NightlyRate" class="text-danger"></span>
                    </div>

                        <div class="form-group">
                <input asp-for="ItineraryId" type="hidden" value="@ViewBag.ItineraryId" class="form-control" asp-items="ViewBag.ItineraryId" />
            </div>

                    <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" value="Create" class="btn btn-primary btn-block"> Create Hotel  </button>
                    </div>

                    <!-- form-group// -->
                   <a asp-controller="Itinerary" asp-action="Details" asp-route-id="@ViewBag.ItineraryId" >Back to Itinerary</a>
                </form>
            </article>
        </div> 


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
