/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

#navlogo{
    height:3em;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #7698C0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;
        z-index: 2;
    }

    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }

a.btn-Facebook, button.btn-Facebook {
    background-color: #405D9D;
    color: #fff;
}

    a.btn-Facebook:hover, button.btn-Facebook:hover {
        background-color: #fff;
        color: #405D9D;
        outline: 1px solid #405D9D;
        -webkit-transition: background-color .8s ease-out;
        -moz-transition: background-color .8s ease-out;
        -o-transition: background-color .8s ease-out;
        transition: background-color .8s ease-out;
    }

a.btn-Twitter, button.btn-Twitter {
    background-color: #42AEEC;
    color: #fff;
}

    a.btn-Twitter:hover, button.btn-Twitter:hover {
        background-color: #FFFFFF;
        color: #42AEEC;
        outline: 1px solid #42AEEC;
        -webkit-transition: background-color .8s ease-out;
        -moz-transition: background-color .8s ease-out;
        -o-transition: background-color .8s ease-out;
        transition: background-color .8s ease-out;
    }


a.btn-Google, button.btn.btn-Google {
    background-color: #DB4437;
    color: #fff;
}

    a.btn-Google:hover, button.btn.btn-Google:hover {
        background-color: #fff;
        color: #DB4437;
        outline: 1px solid #DB4437;
        -webkit-transition: background-color .8s ease-out;
        -moz-transition: background-color .8s ease-out;
        -o-transition: background-color .8s ease-out;
        transition: background-color .8s ease-out;
    }

.card {
    max-width: 400px;
    border-radius: .8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.account {
    padding-top: .5em;
    max-width: 400px;
   
}

.itinerary-items {

    border: solid 2px black;
    padding: 2em;
    margin: 3em auto;
    

}